@import "~bootstrap/scss/bootstrap";

.alert-danger {
  margin-top: 5px;
}

.btn-primary, .btn-outline-primary {
  margin-inline-end: 10px;
}

button.navbar-toggler {
  margin-right: 20px;
}

.filter-list {
  align-items: center;
  display: flex;
  background-color: white;
  border: 1px solid teal;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 5px 10px 5px 10px;

  span:first-of-type {
    color: rgb(33,37,41);
    font-weight: 700;
  }

  .filter-btn-container {
    margin-left: 10px;
  }

  .filter-list-dropdown {
    width: 75%;
  }
}

.form-container {
  max-width: 420px;
}

.home-page-link {
  display: block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid gray;
}

li.nav-item {
  padding-right: 5px;
}

.list-group-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.5rem 0.2rem;
}

.page-title {
  margin-bottom: 2rem;
}

.spinner-container {
  text-align: center;
}
