@import "~bootstrap/scss/bootstrap";

.alert-danger, .alert-warning {
  margin-top: 5px;
}

.btn-primary, .btn-outline-primary {
  margin-inline-end: 10px;
}

button.navbar-toggler {
  margin-right: 20px;
}

.date-picker-container > * {
  margin: 0px 10px;
}

.filter-list {
  border: 1px solid #0d6efd;
  margin: 5px 0px;
  padding: 5px 10px 5px 10px;

  .filter-list-label {
    font-weight: 700;
  }
}

.form-container {
  max-width: 420px;
}

.home-page-link {
  display: block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid gray;
}

li.nav-item {
  padding-right: 5px;
}

.list-group-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.5rem 0.2rem;
}

.page-title {
  margin-bottom: 2rem;
}

.spinner-container {
  text-align: center;
}
