@import "~bootstrap/scss/bootstrap";

.alert-danger {
  margin-top: 5px;
}

.btn-primary {
  margin-inline-end: 10px;
}

button.navbar-toggler {
  margin-right: 20px;
}

.form-container {
  max-width: 420px;
}

.home-page-link {
  display: block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid gray;
}

li.nav-item {
  padding-right: 5px;
}

.list-group-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.5rem 0.2rem;
}

.spinner-container {
  text-align: center;
}
